* {
  margin: 0;
}

body {
  text-align: center;
}

.thank-img {
  text-align: center;
  img {
    width: 20rem;
  }
}

.charac-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  img {
    width: 6rem;
  }
}

.cheerUs {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.ratingStars {
  width: 20rem;
}
