* {
  margin: 0;
}

body {
  text-align: center;
}

.thank-img {
  text-align: center;
  img {
    width: 20rem;
  }
}

.charac-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  img {
    width: 6rem;
  }
}

hr {
  display: none;
}

.cheerUs {
  margin-top: 4rem;
  p {
    font-size: 1.5rem;
  }
}

.ratingStars {
  width: 20rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
  }
  .about-us {
    margin: 5rem;
  }
  .cheerUs {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .charac-img {
    flex-wrap: nowrap;
  }

  .thank-img {
    img {
      width: 30rem;
    }
  }
  hr {
    display: block;
    margin-top: 5rem;
    height: 80vh;
  }
}
