.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 100vw;
}
.homePage {
  text-align: center;
  font-weight: bold;

  button {
    width: 12rem;
    height: 3rem;
    border-radius: 20px;
    border-style: inherit;
    background-color: #ba9ae1;

    a {
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
    }
  }
}
