.centering-home {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 90vh;
  min-width: 100vw;
  background-image: url(@assets/bghome.png);
  background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }

.container-homePage {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .playbtn {
    width: 12rem;
    height: 3rem;
    margin: 2rem auto 3.5rem auto;

    button {
      cursor: pointer;
      width: 12rem;
      height: 3rem;
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      width: 100%;
      background-color: #ba9ae1;
      border-radius: 20px;
      border-style: inherit;
    }
  }
}


@media screen and (min-width: 768px){
  .container-homePage {
    margin-left: 10%;
  }
}