@import "../style";

.GamePage {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 20px 0 20px;

  .leftSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .charactersContainer {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 15px;
      height: fit-content;
      border-radius: 20px;
      padding: 4%;
      box-shadow: 0px 0px 20px $main-color;
      background-color: white;

      .disabled {
        background-color: $secondary-color;
        filter: grayscale(0);
        transform: rotateX(180deg);
        img {
          filter: opacity(0);
        }
      }

      button {
        width: 100%;
        border-radius: 10px;
        border: none;
        box-shadow: -0px -2px 2px rgba(126, 126, 126, 0.4),
          -2px -4px 2px rgba(126, 126, 126, 0.4),
          -4px -6px 2px rgba(126, 126, 126, 0.4),
          -6px -8px 2px rgba(126, 126, 126, 0.4);
        transition: transform 0.5s;
        transform-style: preserve-3d;
        background: linear-gradient(rgba(0, 0, 0, 0.05), white);

        @media screen and (min-device-height: 1001px) {
          border-radius: 20px;
        }
        img {
          width: 100%;
          filter: drop-shadow(-2px -2px 2px rgb(0, 0, 0));
        }
      }
      button:hover {
        transform: scale(0.8);
      }
      img:hover {
        animation: shake 0.5s infinite;
      }
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  @media screen and (min-device-height: 769px) and (max-device-height: 1000px) {
    .leftSide {
      width: 70vw;
      height: calc(100vh - 10rem);
    }
  }

  @media screen and (min-device-height: 1001px) {
    .leftSide {
      width: 60vw;
      height: calc(100vh - 10rem);
    }
  }
  .disabled {
    filter: grayscale(100%);
    pointer-events: none;
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    padding: 2% 1% 2% 1%;
    height: 60vh;
    width: 15%;

    text-align: center;
    border: thick double $main-color;
    border-radius: 10px;
    background-color: white;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;

      figcaption {
        font-family: $primary-font;
        font-size: clamp(0.8rem, 1.5vw, 1.8rem);
        color: $main-color;
        text-shadow: 1px 1px 1px black;
        margin-top: 1rem;
        text-align: center;
      }
    }
    p {
      font-family: $primary-font;
      font-size: clamp(0.8rem, 1.8vw, 1.8rem);
      font-weight: 700;
      color: $main-color;
      text-shadow: 1px 1px 1px black;
    }
    button {
      background-color: $main-color;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: white;
      margin-top: 0.5rem;
      padding: 15px 35px;
      border-radius: 20px;
      border: 1px solid gray;
      &:hover {
        transition: 0.3s;
        transform: scale(1.15);
      }
    }
  }
}

.guess {
  width: 50%;
}
.winner {
  height: 7rem;
  transition: ease 1s;
  animation: win 3s, beat 2s infinite 3s;
}

@keyframes win {
  0% {
    transform: scale(2) translate(-20vw, 50%);
  }
  50% {
    transform: scale(2) translate(-20vw, 50%);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes beat {
  0% {
  }
  50% {
    transform: scale(1.3);
  }
  100% {
  }
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .GamePage {
    margin: 10px 10px 0;
    .leftSide {
      width: min(60vw, 400px);

      .charactersContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 5px;
        height: 80%;
        button {
          width: 83%;
        }
      }
    }

    .rightside {
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
      width: 30vw;
    }
  }
}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .GamePage {
    .leftSide {
      width: 80%;
      flex-direction: row;
      align-items: center;

      .charactersContainer {
        gap: 5px;
        width: 83%;
        padding: 2.5%;
        border-radius: 8px;

        button {
          border-radius: 4px;
          box-shadow: -0px -2px 2px rgba(126, 126, 126, 0.4),
            -2px -4px 2px rgba(126, 126, 126, 0.4);
        }
      }
    }

    .rightSide {
      margin-top: 0;
      height: 60vh;
      width: 15%;

      figure {
        img {
          width: 40%;
          object-fit: contain;
        }
        figcaption {
          font-size: 1rem;
          margin-top: 0;
        }
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }
      button {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: white;
        padding: 12px 30px;
        border-radius: 40px;
        border: none;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
