@import "../style.scss";

.btn-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: $btnWrapperWidth;
  height: 6rem;
  margin: 1.4rem auto 0;

  .criteria {
    height: 3rem;
    width: clamp($criteriaMinWidth, 100%, $criteriaMaxWidth);
    display: flex;
    justify-content: space-between;
  }

  .criteriaButtons {
    background-color: #f7c96a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min($criteriaBtnWidth, 65px);
    height: clamp(3rem, 8vw, 4rem);
    aspect-ratio: 1;
    border: none;
    box-shadow: inset -3px -3px 5px rgb(255, 239, 208),
      inset 3px 3px 5px rgb(163, 106, 1);
    transition: ease-in-out 0.2s;

    img {
      width: 90%;
    }
  }

  button:hover {
    transform: scale(1.2);
  }

  .sideNav {
    display: flex;
    justify-content: space-between;
    width: $sideNavWidth;

    button {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: none;
      transition: ease-in-out 0.2s;
    }

    .round1 {
      background: #fbf7cb;
    }
    .round2 {
      background: #ffdd5b;
    }
    .round3 {
      background: #e1b55d;
    }
    .round4 {
      background: #ffa653;
    }
    .round5 {
      background: #f06b98;
    }
    .round6 {
      background: #8d474f;
    }
    .round7 {
      background: #5a5a5a;
    }
  }
}

.loose button {
  filter: grayscale(100%);
  pointer-events: none;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .btn-wrapper {
    width: fit-content;
    margin: 0 auto;

    .criteria {
      flex-direction: row;
      justify-content: space-between;
    }

    .sideNav {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .btn-wrapper {
    flex-direction: row-reverse;
    width: 4.8rem;
    height: 14rem;
    margin: 0 0 0 1rem;

    .criteria {
      width: 2.6rem;
      flex-direction: column;
      height: 11rem;
      justify-content: space-between;
    }

    .criteriaButtons {
      display: flex;
      height: 2.5rem;
      width: 2.5rem;

      img {
        height: auto;
        width: 1.3rem;
        transform: scale(1.5);
        margin: auto;
      }
    }
    .sideNav {
      flex-direction: column;
      width: 2.5rem;
    }
  }
}
