@use "gameVar";

.btn-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: gameVar.$btnWrapperWidth;
  height: 5.5rem;
  margin: 1.4rem auto 0;
}

.criteria {
  height: 3rem;
  width: gameVar.$criteriaWidth;
  display: flex;
  justify-content: space-between;
}

//TO DO: make the size of .criteriaButtons & img inside responsive
.criteriaButtons {
  background-color: #f7c96a;
  border-radius: 8px;
  display: flex;
  height: 3rem;
  width: 3rem;
  border: none;

  img {
    height: auto;
    width: 1.5rem;
    transform: scale(1.5);
    margin: auto;
  }
}
.sideNav {
  display: flex;
  justify-content: space-between;
  width: gameVar.$sideNavWidth;

  button {
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
  }

  .round1 {
    background: #fbf7cb;
  }
  .round2 {
    background: #ffdd5b;
  }
  .round3 {
    background: #e1b55d;
  }
  .round4 {
    background: #ffa653;
  }
  .round5 {
    background: #f06b98;
  }
  .round6 {
    background: #8d474f;
  }
  .round7 {
    background: #5a5a5a;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .btn-wrapper {
    width: fit-content;
    margin: 4rem auto 0;
  }
  .criteria {
    flex-direction: row;
    justify-content: space-between;
  }

  .sideNav {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .btn-wrapper {
    height: fit-content;
    width: auto;

    .sideNav {
      width: auto;
    }
  }
}
