@import "../_style";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.navbar {
  display: flex;
  flex-wrap: wrap; /*Mettre le menu burger en mobile first au lieu du flex wrap */
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  height: 4rem;
  box-shadow: 0px 2px 2px $gradient-color, 0px 4px 4px $gradient-color,
    0px 8px 8px $gradient-color, 0px 16px 16px $gradient-color;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;

  h1 {
    display: flex;
    justify-content: left;
    margin-left: 0px;
  }
  .navbarPseudo {
    font-family: "Patrick Hand", cursive;
    color: white;
    font-size: 2rem;
  }
  .navbarlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -2px 0px 2px $gradient-color, -4px 0px 4px $gradient-color,
      -8px 0px 8px $gradient-color, -16px 0px 16px $gradient-color;

    .navbarItems {
      list-style: none;
      text-decoration: none;
      .navbarLink {
        font-family: "Patrick Hand", cursive;
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 2.5px;
        &:hover {
          transition: 0.5s;
          color: #ba9ae1;
          background: #ffffff;
          border-radius: 10px;
          box-shadow: 0px 4px 0px 0px $gradient-color;
        }
        &:focus,
        &:active {
          color: #ba9ae1;
          background: #ffffff;
          border: 1px solid #ba9ae1;
          border-radius: 10px;
          box-shadow: 0px 4px 0px 0px $gradient-color;
        }
      }
    }
  }
  .navbarLink {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 22px;
    padding-top: 50px;
  }
  .navbarLogo {
    z-index: 1000;
  }
}
.navbarBurger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar .navbarlist {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: $main-color;
    visibility: hidden;
    z-index: 10;
    transition: all 0.6s ease-in-out;
  }

  .shownav .navbarlist {
    right: 0;
    visibility: visible;
  }
  .navbarLink {
    display: block;
    padding: 1.5rem;
  }
  .navbarBurger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 20;
  }
  .navbarBurger:hover {
    cursor: pointer;
  }
  .burgerBar,
  .burgerBar::before,
  .burgerBar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  .burgerBar::before,
  .burgerBar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burgerBar::before {
    transform: translateY(-12px);
  }
  .burgerBar::after {
    transform: translateY(12px);
  }
  .shownav .burgerBar {
    width: 0;
    background: transparent;
  }
  .shownav .burgerBar::before {
    transform: rotate(45deg);
  }
  .shownav .burgerBar::after {
    transform: rotate(-45deg);
  }
}
