@import "../style";

.GamePage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 20px 0 20px;

  .leftSide {
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .charactersContainer {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 8px;
      height: fit-content;
      width: 100%;

      button {
        width: 100%;
        img {
          width: 100%;
        }
      }
      button:disabled,
      button[disabled] {
        filter: grayscale(100%);
        pointer-events: none;
      }
    }
  }

  @media screen and (min-device-height: 769px) and (max-device-height: 1000px) {
    .leftSide {
      width: 70vw;
      height: calc(100vh - 10rem);
    }
  }

  @media screen and (min-device-height: 1001px) {
    .leftSide {
      width: 75vw;
      height: calc(100vh - 10rem);
    }
  }
  .disabled {
    filter: grayscale(100%);
    pointer-events: none;
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    box-shadow: inset -10px 10px 2px $main-color;
    border-radius: 20px;
    height: 60vh;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 7rem;
      }
    }
  }
}

.guess {
  filter: brightness(0);
  width: 7rem;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .GamePage {
    .leftSide {
      width: 65vw;

      .charactersContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 5px;
      }
    }

    .rightside {
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .GamePage {
    .leftSide {
      width: 80%;
      flex-direction: row;
      align-items: center;

      .charactersContainer {
        gap: 5px;
        width: 83%;
      }
    }
  }
}
