.GamePage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 20px 0 20px;

  .charactersContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    height: fit-content;
    width: fit-content;
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .charactersContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
    width: 90vw;

    img {
      width: 4rem;
    }
  }

  .rightside {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .charactersContainer {
    img {
      width: 5rem;
    }
  }
  .GamePage {
    align-items: flex-start;
  }
  .rightside {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .charactersContainer {
    img {
      width: 7rem;
    }
  }
  .rightside {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .charactersContainer {
    gap: 5px;

    img {
      width: 4rem;
    }
  }

  .GamePage {
    flex-direction: row;
    align-items: normal;
  }
}
